.header {
    background: color(primary, orange-1);
    height: 56px;
	left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    &__navigate {
        align-items: center;
        display: flex;
        font-size: map-get($sizes, "base_2");
        justify-content: space-between;
    }

    &__logo {
        color: color(grayscale, white);
        font-weight: map-get($weights, "medium");
        padding: 15px 20px;
    }

    &__toggle {
        color: color(grayscale, white);
        margin-right: 22px;
        order: 3;
    }

    &__list {
        background: color(primary, orange-1);
        height: calc(100% - 5.6rem);
        overflow-y: auto;
        padding: 30px;
        position: fixed;
        top: 5.6rem;
        width: 100%;
    }

    &__item {
        font-size: map-get($sizes, "half");
        margin-bottom: 4rem;
    }

    &__link {
        color: color(grayscale, white);
        [class^="icon-"], [class*=" icon-"] {
            margin-right: 20px;
        }
    }

    &__link-name {
        display: inline;
        font-weight: map-get($weights, "medium");
        line-height: 30px;
    }
            

    &__flags {
        order: 1;
    }
}

.menu-hidden {
    left: 100%;
    transition: left 0.5s;
}

.menu-visible {
    left: 0;
    transition: left 0.5s;
}

@include  mq-min(sm){

    .header {

        &__navigate {
            font-size: map-get($sizes, "thumb");
        }

        &__link {
            font-size: map-get($sizes, "half");
        }

        &__link-name {
            font-size: map-get($sizes, "half");
            line-height: 50px;
        }
    }
    
}

@include  mq-min(md){

    .header {
        height: 60px;

        &__navigate {
            font-size: map-get($sizes, "thumb");
        }

    }
}

@include  mq-min(lg){

    .header {
        border-radius: 0px 15px 15px 0px;
        height: 100%;
        width: 84px;

        &__navigate {
            flex-direction: column;
        }

        &__logo {
            font-size: map-get($sizes, "base_2");
            margin-top: 20px;
            margin-bottom: 8rem;
        }

        &__toggle {
            display: none;
        }

        &__list {
            background: none;
            padding: unset;
            position: unset;
            width: auto;
        }

        &__item {
            align-items: center;
            border-radius: 30px;
            background: color(grayscale, white);
            display: flex;
            height: 50px;
            justify-content: center;
            width: 50px;

            transition: background ease-in .3s;

            &:hover {
                background: color(primary, red-1);
            }
        }

        &__link {
            color: color(grayscale, gray-5);
            [class^="icon-"], [class*=" icon-"] {
                margin-right: unset;
            }

            &:hover {
                color: color(grayscale, white);
            }
        }

        &__link-name {
            display: none;
        }
    }

    .menu-hidden {
        left: 0px;
    }
}

@include  mq-min(xl){

    .header {

        &__item {
            height: 40px;
            width: 40px;
        }

        &__link {
            font-size: map-get($sizes, "base_2");
        }
    }
}