html {
    scroll-behavior: smooth;
}

body {
    background-color: color(primary, back);
}

section[id] {
    scroll-margin-top: 125px;
}

.presentation {

    margin-bottom: 109px;
    margin-top: 94px;
    padding: 0rem 1rem;
    
    &__info {

        p:nth-child(1) {
            font-size: map-get($sizes, "half");
        }

        h1 {
            font-size: map-get($sizes, "medium");
            font-weight: map-get($weights, "semi_bold");
            line-height: 62px;
            margin-bottom: 24px;
        }

        p:nth-child(3), p:nth-child(4) {
            font-size: map-get($sizes, "base_2");
            margin-bottom: 1rem;
        }
    }
    
    &__image {
        display: none;
    }
    
    &__navigate {
        margin-top: 76px;
        margin-bottom: 55px;
    }

    &__list {
        justify-items: center;
        align-items: center;
    }

    &__follow{
        color: color(grayscale, gray-5);
        display: none;
    }

    &__actions {
        justify-items: center;
    }
    
}

.achievements {
    margin-bottom: 8rem;

    &__card {
        background: color(primary, orange-1);
        border-radius: 35px;
        color: color(grayscale, white);
        height: 992px;
        padding: 36px 20px;

        .container {
            justify-items: center;
        }
    }

    &__figure {
        order: 2;
    }

    &__content {
        order: 1;

        .grid{
            justify-items: center;
        }

        .stars-outer {
            display: inline-block;
            font-family: 'iconFont';
            font-size: 30px;
            position: relative;
        }
        
        .stars-outer::before {
            content: "\e90b \e90b \e90b \e90b \e90b";
            color: color(secondary, orange-2);
            font-weight: 900;
        }
        
        .stars-inner {
            font-family: 'iconFont';
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 90%;
        }
        
        .stars-inner::before {
            content: "\e90b \e90b \e90b \e90b \e90b";
            color: color(secondary, green-1);
            font-weight: 900;
        }
    }

    &__numbers {
        margin-bottom: 30px;
        text-align: center;

        h2 {
            font-size: map-get($sizes, "large");
            font-weight: map-get($weights, "semi_bold");
        }

        p {
            font-size: map-get($sizes, "half");
        }
    }

    &__rate {
        text-align: center;

        p {
            font-size: map-get($sizes, "half");
            margin-top: 32px;
        }
    }

    &__invitation {
        margin-top: 40px;
        margin-bottom: 30px;

        h2 {
            font-size: map-get($sizes, "medium");
            font-weight: map-get($weights, "semi_bold");
            margin-bottom: 40px;
        }
        
        p {
            font-size: map-get($sizes, "thumb");
            line-height: 45px;
        }
    }
}

.skills {
    
    margin-bottom: 2rem;
    padding: 0rem 1rem;

    .container {
        text-align: center;

        h2 {
            font-size: map-get($sizes, "medium");
            font-weight: map-get($weights, "semi_bold");
            margin-bottom: 70px;
        }
    }

    &__item {
        margin: 0px 46px 74px 46px;
    }

    &__figure {
        align-items: center;
        background: color(grayscale, gray-3);
        border-radius: 50px;
        display: flex;
        height: 98px;
        justify-content: center;
        margin: auto;
        width: 98px;
    }

    &__name {
        font-size: map-get($sizes, "half");
        font-weight: map-get($weights, "medium");
        margin-top: 52px;
        margin-bottom: 12px;
    }

    &__description {
        color: color(grayscale, gray-4);
        font-size: map-get($sizes, "base_2");
        line-height: 30px;
        text-align: center;
    }
}

.portfolio {

    margin-bottom: 8.8rem;
    padding: 0rem 1rem;

    &__title {
        font-size: map-get($sizes, "medium");
        font-weight: map-get($weights, "semi_bold");
        margin-bottom: 40px;
    }

    &__see-more {
        margin-top: 20px;
        order: 3;
        text-align: end;
    }

    &__link {
        color: color(grayscale, gray-4);
        font-size: map-get($sizes, "thumb");

        i {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        order: 2;
    }

    &__item {
        height: 157px;
        margin-bottom: 12px;
        width: 161px;
    }
}

.clients {

    background-color: color(primary, orange-1);
    height: 557px;
    margin-bottom: 95px;
    padding: 24px;

    &__title {
        color: color(grayscale, white);
        font-size: map-get($sizes, "medium");
        font-weight: map-get($weights, "semi_bold");
        line-height: 60px;
    }

    &__container {
        overflow: hidden;
        overflow-x: scroll;
    }

    input {
        display: none;
    }

    &__card:nth-child(-n+5) {
        margin-right: 82px;
    }

    &__card {
        align-items: center;
        background-color: color(grayscale, white);
        border-radius: 30px;
        height: 251px;
        padding: 24px 20px;
        width: 326px;
        
        p {
            margin: 0px;
        }
    }

    &__opinion { 
        font-size: map-get($sizes, "small");
        font-weight: map-get($weights, "regular");
        grid-area: 4 / 1 / 5 / 13;
    }
    &__pic { 
        grid-area: 1 / 1 / 3 / 3;
        margin-right: 20px;
    }
    &__name { 
        font-size: map-get($sizes, "base");
        font-weight: map-get($weights, "semi_bold");
        grid-area: 1 / 4 / 2 / 13;
    }
    &__rol { 
        font-size: map-get($sizes, "small");
        font-weight: map-get($weights, "regular");
        grid-area: 2 / 4 / 3 / 13;
    }
    &__rate { 
        font-size: map-get($sizes, "base");
        font-weight: map-get($weights, "semi_bold");
        grid-area: 3 / 1 / 4 / 3;
    }
    &__star-rate { 
        grid-area: 3 / 3 / 4 / 13; 
    }

    &__stars-outer {
        display: inline-block;
        font-family: 'iconFont';
        font-size: map-get($sizes, "half");
        position: relative;
    }
    
    &__stars-outer::before {
        content: "\e90b \e90b \e90b \e90b \e90b";
        color: color(grayscale, white);
        font-weight: 900;
    }
    
    &__stars-inner {
        font-family: 'iconFont';
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 100%;
    }
    
    &__stars-inner::before {
        content: "\e90b \e90b \e90b \e90b \e90b";
        color: color(primary, orange-1);
        font-weight: 900;
    }

    &__navigation-manual {
        display: flex;
        justify-content: center;
        margin-top: 4.8rem;

        
        .manual-btn {
            background: color(grayscale, white);
            padding: 0.5rem;
            border-radius: 1rem;
            cursor: pointer;
            transition: 1s;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:hover {
                background: color(grayscale, base);
            }

            &:active {
                width: 7rem;
            }
        }
        
    }

    #radio1:checked ~ .clients__container .first-card {
        margin-left: 0%;
    }

    #radio2:checked ~ .clients__container .first-card {
        margin-left: -20%;
    }

    #radio3:checked ~ .clients__container .first-card {
        margin-left: -40%;
    }

    #radio4:checked ~ .clients__container .first-card {
        margin-left: -60%;
    }

    ::-webkit-scrollbar {display: none;}
}

.plans {
    margin-bottom: 6.4rem;

    .container {
        justify-items: center;
    }

    &__title {
        font-size: map-get($sizes, "medium");
        font-weight: map-get($weights, "semi_bold");
        margin-bottom: 60px;
    }

    &__card {
        background: color(grayscale, white);
        border-radius: 15px;
        box-shadow: 0px 20px 40px rgba(255, 115, 21, 0.1);
        height: 500px;
        margin-bottom: 64px;
        width: 335px;
    }

    &__card-title {
        align-items: flex-end;
        background: color(secondary, orange-2);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 15px 15px 0px 0px;
        color: color(grayscale, white);
        display: flex;
        font-size: map-get($sizes, "half");
        font-weight: map-get($weights, "semi_bold");
        height: 66px;
        justify-content: center;
        width: 335px;
    }

    &__price {
        padding: 30px 34px 5px 34px;
        text-align: center;

        p {
            font-size: map-get($sizes, "medium");
            font-weight: map-get($weights, "extra_bold");

            .hour {
                color: color(grayscale, gray-5);
                font-size: map-get($sizes, "small_2");
                font-weight: map-get($weights, "regular");
            }
        }
        
    }

    &__content {
        font-size: map-get($sizes, "small");
        padding: 0px 50px 24px 50px;
    }

    &__features {

        li:nth-child(-n+7) {
            border-bottom: 0.5px solid color(grayscale, gray-3);
        }
    }

    &__include {
        font-weight: map-get($weights, "medium");
        margin: 9px 0px;

        .icon-check {
            color: color(primary, orange-1);
        }
    }

    &__not-include {
        color: color(grayscale, gray-5);
        margin: 9px 0px;
    }
}

.contact {

    margin-bottom: 127px;

    .card {
        border-radius: 15px;
        background: color(primary, orange-1);
        color: color(grayscale, white);
        height: 354px;
        justify-content: center;
        line-height: 62px;
        padding: 37px 10px 66px 10px;

        .container {

            p {
                font-size: map-get($sizes, "medium");
                font-weight: map-get($weights, "semi_bold");
                margin-bottom: 55px;
            }
        }
    }

    &__link {
        box-shadow: 0px 0.927421px 1.92354px rgba(0, 0, 0, 0.00974257);
        margin: 0px 40px;
        text-align: center;
    }
}

.blog {

    margin-bottom: 100px;
    overflow: hidden;
    padding: 0rem 1rem;

    &__title-header {
        font-size: map-get($sizes, "medium");
        font-weight: map-get($weights, "semi_bold");
    }

    &__see-more {
        display: none;
    }

    &__link {
        color: #8e8e8e;
        font-size: map-get($sizes, "thumb");

        i {
            display: none;
        }
    }

    &__list {
        align-items: center;
        display: flex;
        justify-items: center;
        padding: 20px 0px;
        overflow-x: scroll;
    }

    &__card {
        width: 270px;
        height: 364px;
        background: #F9F9F9;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
        border-radius: 15px;
        justify-items: center;
        margin-right: 24px;
    }

    &__pic {
        
        img {
            width: 242px;
            height: 167px;
            max-width: 242px;
            max-height: 167px;
            border-radius: 15px;
            margin: 15px;
        }
    }

    &__content {
        padding: 0px  16px 0px 16px;
    }

    &__title {
        font-size: map-get($sizes, "base");
        font-weight: map-get($weights, "medium");
        margin-bottom: 8px;
        text-align: center;
        text-transform: capitalize;
    }

    &__copy {
        color: color(grayscale, gray-5);
        font-size: map-get($sizes, "tiny");
        font-weight: map-get($weights, "medium");
        margin-bottom: 0px;
        line-height: 24px;
        text-transform: capitalize;
    }

    &__button {
        float: right;
        margin-right: 16px;
    }

    ::-webkit-scrollbar {display: none;}
}

@include  mq-min(sm){

    .presentation {

        &__follow{
            display: inline-block;

            p {
                margin: 0px;
            }
        }
    }

    .clients {

        &__title {
            margin-bottom: 4rem;
        }

        &__container {
            gap: 0rem;
        }

        &__card {
            
            height: 251px;
            padding: 24px 20px;
            width: 490px;
        }

        &__opinion { 
            font-size: map-get($sizes, "thumb");
        }
        &__pic { 
            width: 50px;
            height: 50px;
        }
        &__name {
            grid-area: 1 / 3 / 2 / 13;
        }
        &__rol {
            grid-area: 2 / 3 / 3 / 13;
        }
        &__star-rate { 
            grid-area: 3 / 3 / 4 / 13; 
        }
    }
}

@include  mq-min(md){

    .achievements {

        &__card {
            height: 900px;
            padding: 46px 20px
        }

        &__rate {
    
            p {
                margin-top: 25px;
            }
        }

        &__image {
            width: 430px; 
            height: 329px;
        }

        &__invitation {
            margin-bottom: 0rem;
        }
    }

    .portfolio {
        &__item {
            cursor: pointer;
            height: 261px;
            margin-bottom: 2.4rem;
            width: 257px;
        }
    }
}


@include  mq-min(lg){ 

    .presentation {
        padding: 0rem 12.5rem 0rem 15rem;

        &__actions {
            justify-items: unset;
        }

        &__list {
            justify-items: unset;
        }
    }

    .achievements {
        padding: 0rem 15rem;
    }

    .skills {
        padding: 0rem 15rem;
    }

    .portfolio {
        padding: 0rem 15rem;
    }

    .clients {
        padding: 2.4rem 10.5rem;

        &__title {
            text-align: center;
        }

        &__navigation-manual {
            margin-top: 6.4rem;
        }
    }

    .plans {
        padding: 0rem 15rem;
    }

    .contact {
        padding: 0rem 15rem;
    }

    .blog {
        padding: 0rem 15rem; 
    }
}


@include  mq-min(xl){

    .presentation {
        margin-top: 64px;
        margin-bottom: 126px;

        &__info {
            padding-right: 10rem;
            padding-left: 1rem;
    
            h1 {
                font-size: map-get($sizes, "medium_3");
                font-weight: map-get($weights, "semi_bold");
                margin-bottom: 48px;
            }
    
            p:nth-child(3), p:nth-child(4) {
                line-height: 30px;
                margin: 0px;
            }
        }

        &__navigate {
            margin-top: 30px;
            margin-bottom: 64px;
        }

        &__follow{
            display: none;

            p {
                margin: 0px;
            }
        }

        &__actions {
            justify-items: unset;
        }

        &__list {
            justify-items: unset;
        }

        &__pic {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        &__image {
            display: block;
        }
    }

    .portfolio {

        &__item {
            width: 310px;
            height: 300px;
            margin-bottom: 2.4rem;
            cursor: pointer;
        }
    }

    .clients { 

        height: 643px;
        margin-bottom: 12rem;

        &__title {
            font-size: map-get($sizes, "large");
            line-height: 60px;
            margin-bottom: 5rem;
            margin-top: 3rem;
            text-align: center;
        }

        &__card:nth-child(-n+1) {
            margin-right: 82px;
        }
    
        &__card {
            border-radius: 30px;
            height: 285px;
            padding: 24px 55px;
            width: 529px;
        }
    
        &__opinion { 
            font-size: map-get($sizes, "half");
            grid-area: 1 / 1 / 2 / 13;
        }
        &__pic { 
            grid-area: 2 / 1 / 4 / 3;
            // margin-right: 20px;
        }
        &__name { 
            grid-area: 2 / 3 / 3 / 8;
        }
        &__rol { 
            grid-area: 3 / 3 / 4 / 8;
        }
        &__rate { 
            grid-area: 2 / 8 / 3 / 9;
        }
        &__star-rate { 
            grid-area: 2 / 9 / 3 / 13;
        }
    }

    .contact {

        .card {
            border-radius: 25px;
            height: 224px;
            padding: 7.5rem 5rem;

            .container {

                p {
                    font-size: map-get($sizes, "medium_2");
                    margin-bottom: 0px;
                }
            }
        }

    }
    
}

@include mq-min(xxl) {

    .presentation {

        &__follow{
            display: inline-block;

            p {
                margin: 0px;
            }
        }
    }

    .achievements { 
        margin-bottom: 12.5rem;

        &__card {
            height: 519px;
        }

        &__figure {
            order: 1;
        }

        &__content {
            order: 2;
        }

        &__numbers {
            margin-bottom: 30px;
    
            h2 {
                font-size: map-get($sizes, "xhuge");
            }
        }

        &__rate {
            margin-top: 35px;
        }

        &__invitation {
            margin: 0px;
    
            h2 {
                font-size: map-get($sizes, "large");
                margin-bottom: unset;
            }
            
            p {
                font-size: map-get($sizes, "half");
            }
        }
    }

    .skills {
        margin-bottom: 10rem;

        .container {
    
            h2 {
                font-size: map-get($sizes, "large");
                margin-bottom: 8rem;
            }
        }

        &__item {
            margin: 0px;
        }
    }

    .portfolio {
        margin-bottom: 10rem;

        &__title {
            font-size: map-get($sizes, "large");
            margin-bottom: 5rem;
        }

        &__see-more {
            order: 2;
        }
    
        &__link {
    
            i {
                display: inline-block;
            }
        }

        &__list {
            justify-content: space-around;
            order: 3;
        }
    }

    .clients {

        &__title {
            padding: 0px 30rem;
        }
    }

    .plans {
        margin-bottom: 3.5rem;

        &__title {
            font-size: map-get($sizes, "large");
            margin-bottom: 46px;
        }
    }

    .blog {
        padding: 0rem;

        &__title-header {
            font-size: map-get($sizes, "large");
        }

        &__see-more {
            display: inline-block;
            margin-top: 20px;
            text-align: end;
        }

        &__link {
    
            i {
                display: inline-block;
            }
        }

        &__list {
            overflow-x: unset;
        }
    }
}