.btn {
   font-family: $font-primary;
   font-size: $font-size;
   border: none;
   cursor: pointer;
   line-height: 1;
   outline: none;
   border-radius: 10px;
   align-content: center;
   @include mq-min(md) {
      width: auto;
   }
   
   &.btn-primary-red {
      @include button( color( primary, red-1 ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-7 ) );
         border: .13rem solid color( primary, red-1 );
         &:hover, &:active {
            @include button( color( primary, red-1 ) );
         }
      }
   }
   &.btn-primary-white {
      @include button( color( grayscale, white ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-7 ) );
         border: .13rem solid color( grayscale, white );
         &:hover, &:active {
            @include button( color( grayscale, white ) );
         }
      }
   }
   &.btn-primary-orange {
      @include button( color( primary, orange-2 ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-7 ) );
         border: .13rem solid color( primary, orange-2 );
         &:hover, &:active {
            @include button( color( primary, orange-2 ) );
         }
      }
   }
   //style
   &.btn-round {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 35px;

      &.btn-round-blue {
         @include button( color( secondary, blue-1 ) );
      }
      &.btn-round-magenta {
         @include button( color( secondary, magenta-1 ) );
      }
      &.btn-round-cyan {
         @include button( color( secondary, cyan-1 ) );
      }
      &.btn-round-orange {
         @include button( color( secondary, orange-2 ) );
      }

   }
   // sizes
   &.small {
      padding:    ( $font-size - .50rem ) ( $font-size );
      font-size:  ( $font-size - .25rem );
   }
   &.medium{
      font-size: map-get($sizes, small);
      padding: 11px 38px;
   }
}

@include  mq-min(md){
}
