.icon-menu:before {
    content: "\e900";
  }
  .icon-times:before {
    content: "\e901";
  }
  .icon-instagram:before {
    content: "\e902";
  }
  .icon-envelope:before {
    content: "\e903";
  }
  .icon-check:before {
    content: "\e904";
  }
  .icon-comment:before {
    content: "\e905";
  }
  .icon-home:before {
    content: "\e906";
  }
  .icon-user:before {
    content: "\e907";
  }
  .icon-facebook:before {
    content: "\e908";
  }
  .icon-twitter:before {
    content: "\e909";
  }
  .icon-telegram:before {
    content: "\e90a";
  }
  .icon-star:before {
    content: "\e90b";
  }
  .icon-arrow_1:before {
    content: "\e90c";
  }
  .icon-arrow_2:before {
    content: "\e90d";
  }
  .icon-suitcase:before {
    content: "\e90e";
  }
  .icon-file:before {
    content: "\e91d";
  }