a, button {
	color: color( controls, base );
	text-decoration: none;
	outline: 0;
   transition: color .1s ease-out;

   &.button {
      &:hover {
         text-decoration: none;
      }
   }

	&:hover, &:focus {
      color: color( controls, dark );
      @include mq-max(sm){
         text-decoration: none;
      }
   }

   &.underline-link{
      color: color(controls,base);
      cursor: pointer;
      font-family: $font-primary;
      font-size: $font-size;
      font-weight: bold;
      text-decoration: underline;
   }

   &.text-link {
      font-family: $font-primary;
      font-size: $font-size;
      text-transform: uppercase;
      border: none;
      font-weight: 700;
      line-height: 1;
      outline: none;
      background-color: transparent;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      padding: 0;
      cursor: pointer;

      &.text-primary-base {
         color: color( primary, orange-1 );
         &:hover {
            color: color( primary, orange-2 );
         }
      }
      &.text-secondary-base {
         color: color( secondary, orange-2 );
         &:hover {
            color: color( secondary, orange-3 );
         }
      }
      &.text-primary-base{
         color: color( primary, orange-2 );
         font-size: map-get($sizes, thumb);
         text-decoration: underline;
         text-transform: none;
         &:hover {
            color: color( primary, orange-2 );
         }
      }
   }

   &.button-round-blue {
      @include button( color( secondary, blue-1 ) );
   }
   &.button-round-magenta {
      @include button( color( secondary, magenta-1 ) );
   }
   &.button-round-cyan {
      @include button( color( secondary, cyan-1 ) );
   }
   &.button-round-orange {
      @include button( color( secondary, orange-2 ) );
   }
   &.button-round-white {
      @include button( color( grayscale, white), color( grayscale, gray-5 ) );
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
   }

   &.button-primary-red {
      @include button( color( primary, red-1 ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-7 ) );
         border: .13rem solid color( primary, red-1 );
         &:hover, &:active {
            @include button( color( primary, red-1 ) );
         }
      }
   }

   &.button-primary-orange {
      @include button( color( primary, orange-2 ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-7 ) );
         border: .13rem solid color( primary, orange-2 );
         &:hover, &:active {
            @include button( color( grayscale, white ), color( grayscale, black ) );
         }
      }
   }

   &.button-primary-white {
      @include button( color( grayscale, white), color( grayscale, black ) );
      &.outline {
         @include button( transparent, color( grayscale, gray-7 ) );
         border: .13rem solid color( grayscale, white );
         &:hover, &:active {
            @include button( color( grayscale, white ), color( grayscale, black ) );
         }
      }
   }

   // &.small {

   // }

   &.round-small {
      padding: 10px 15px;
      border-radius: 35px;
   }

   &.medium {
      font-size: map-get($sizes, "base_2");
      font-weight: map-get($weights, "medium");
      padding: 1.5rem 0rem;
      text-align: center;
      width: 90%;
      border-radius: 10px;
   }

   &.round-medium {
      padding: 14px 17px;
      border-radius: 35px;
   }

   &.large {
      font-size: map-get($sizes, "half");
      font-weight: map-get($weights, "semi_bold");
      padding: 5px 15px;
      border-radius: 15px;
   }
}
